/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #526066;
    font-family: 'Roboto', sans-serif;
}

h2,
h3 {
    letter-spacing: 0.05em;
    font-weight: 600;
    color: black;
}

p {
    line-height: 1.6em;
    font-size: 1.2em;
    font-weight: 600;
}

table {
    margin-bottom: 2em;
}

.max-width-wrapper {
    max-width: 980px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: lightslategray;
}

i.arrow {
    border: solid lightslategray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/*
 * -- Main Content --
 */

.pure-margins {
    margin: 0.5em;
}

/*
 * -- Menu (Navigation) STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu-link {
    padding: .5em .7em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: black;
    font-family: Roboto;
}

.pure-menu-right {
    text-align: right;
}

.pure-menu-heading {
    padding: 0px 0px;
    font-family: 'Yesteryear', cursive;
    text-transform: none;
    font-size: 250%;
    color: black;
}

/* plain links */
.tourny-links {
    text-decoration: none;
    color: darkslategray;
    padding: 5px 5px 5px 0px;
    display: inline-block;
}

.l-content {
    border-top-color: grey;
    border-top-style: solid;
    border-top-width: thin;
    flex: 1 0 auto;
}

.l-box {
    padding: 1em;
    background-color: #fafbfc;
    min-height: 20em;
    border-radius: 5px;
    border: 1px solid rgba(184, 196, 194, 0.25);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.l-box-clear {
    background-color: white;
}

/* wrap scores tables for more space */
.pure-table {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: transparent url('/static/images/banner_image.jpg') 0 80% no-repeat fixed;
    text-align: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

/*
 * -- PANEL TABLE WRAPPER --
 * This element wraps up all the panel section elements
 */

/* override the icon color */
.fa-2x {
    color: #006A37;
    /*color: white;*/
}

.panel-wrapper {
    background-color: #edeff0;
    padding: 3em;
}

.panel-tables {
    text-align: center;
}

.panel-tables a {
    margin-bottom: .2em;
}

.panel-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

/*
* -- List table styles
*/
.tournament {
    letter-spacing: 0;
    max-width: 980px;
    text-transform: none;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    padding: 10px;
}

.tournament h2 {
    text-transform: none;
    letter-spacing: 0;
    text-align: left;
    margin-top: 2em;
}

.tournament h3 {
    text-align: left;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: .5em;
}

.tournament tr {
    text-align: left;
}

/* 
* -- Footer Styles
*/
.footer {
    padding: 1em 2em;
    line-height: 1em;
    background-color: #ddd;
}

.footer-spacing {
    max-width: 980px;
    margin: 0 auto;
    text-align: left;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-item{
    padding: .25em 0em;
    font-size: .9em;
}
a.footer-item{
    text-decoration: underline;
}

.footer-base {
    background-color: darkslategray;
    color: lightgray;
    font-size: .8em;
}
/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

    .banner-head {
        font-size: 2em;
    }

    .pricing-table {
        margin-bottom: 0;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
        height: 400px;
    }

    .banner-head {
        font-size: 3em;
    }
}
